{#
 # News entry template
 # -------------------
 #
 # This template gets loaded whenever a News entry’s URL is
 # requested. That’s because the News section’s Template setting is
 # set to “news/_entry”, the path to this template.
 #
 # When this template is loaded, it will already have an ‘entry’
 # variable, set to the requested News entry.
 #
 # See this page for more details on how Craft routes requests:
 # http://buildwithcraft.com/docs/routing
 #}

{% extends "_layout" %}

{% block content %}
<script>document.getElementsByTagName('body')[0].className+='internal'</script>
  {% if entry.type == 'contentPage' %}
   {% for matrix in entry.bodyContent %}
        <section class="copySection">
            <div class="copySectionCopy">
                {{matrix.textContent}}
            </div><!-- /.copySectionCopy -->
        </section><!-- /copySection -->
   {% endfor %}
  {% elseif entry.type == 'faqPage' %}
    <section class="fAQHeader">
        <div class="copySectionCopy">
          {{entry.introCopy}}
        </div><!-- /.copySectionCopy -->
    </section><!-- /copySection -->
    <section class="fAQHeader">
        <div class="copySectionCopy">
        <h2>Frequently Asked Questions</h2>
            <ul>
              {% for matrix in entry.faqs %}
                <li><a href="#{{matrix.id}}">{{matrix.question}}</a></li>
              {% endfor %}
            </ul>
        </div><!-- /.copySectionCopy -->
    </section><!-- /copySection -->
    {% for matrix in entry.faqs %}
            <section id="{{matrix.id}}" class="fAQSection">
                <div class="copySectionCopy">
                <h3>{{matrix.question}}</h3>
                <p>{{matrix.answer}}</p>
                </div><!-- /.copySectionCopy -->
            </section><!-- /copySection -->
    {% endfor %}
  {% elseif entry.type == 'searchRentalsList' %}
        <script type='text/javascript'>
              var zip_code_range = [
                  {% for city in craft.entries.section('searchRentals') %}
                      {
                          'city' : '{{ city.title }}',
                          'query_string': '{{ city.queryStringValue }}',
                          'start_zip' : {{ city.zipCodeStart }},
                          'end_zip' : {{ city.zipCodeEnd }},
                          'is_listed' : false,
                          'slug' : '{{ city.slug }}',
                          'bg_img': '{{ city.backgroundImage[0].url() is defined ? city.backgroundImage[0].url : '' }}',
                          'prop_count': 0
                      },
                  {% endfor %}
              ];
        </script>
        <section class="copySection">
            <input id="searchRentalsList" value="searchRentalsList" type="hidden" />
            <div class="copySectionCopy">
                {{entry.body}}
            </div><!-- /.copySectionCopy -->
            <div class="citySelectBoxContainer">
              <select name="citySelectBox" id="citySelectBox">
                <option value="http://pathlightmgt.com/search-rentals/all-areas">All Areas</option>
                {% for city in craft.entries.section('searchRentals').order('title') %}
                  <option value="{{ city.url }}?amnts={{city.queryStringValue}}">{{city.title}}</option>
                {% endfor %}
                  <input id="citySelectSubmit" type="submit">
                </select>
              </div><!-- /.citySelectBox -->
        </section><!-- /copySection -->

        <section class="cityList">
            <h4>Choose a metro area from the list below</h4>

          {% for city in craft.entries.section('searchRentals').order('title') %}
            <a href="{{ city.url }}?amnts={{city.queryStringValue}}">
                <div class="cityTitle" style="opacity: 0;">
                    <h3>{{city.title}}</h3>
                    {% if city.backgroundImage[0].url() is defined %}
                      <img src="{{city.backgroundImage[0].url}}" alt="">
                    {% endif %}
                </div><!-- cityTitle -->
            </a>
            {% endfor %}
        </section><!-- /.cityList -->
  {% elseif entry.type == 'logInFormList' %}
        <section class="copySection">
            <div class="copySectionCopy">
                {{entry.body}}
          <hr>
          <script type='text/javascript' src='http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAArT_jjwCIWNLcCPcKoZ7pixQgZNQf2Lua7qe6S67ReIqRe4aVQBSkLucm3QCHOqkticKJRFS3azn2gQ'></script>
          <script type='text/javascript' src='http://app.propertyware.com/pw/website/widgets/config.jsp?wid=273088512'></script>
          <script type='text/javascript' src='http://app.propertyware.com/pw/website/widgets/pw_widgets_v2.js?sid=171048968'></script>
          <script type='text/javascript' src='http://app.propertyware.com/pw/javascript/jquery/jstz.min.js'></script>
          <!--Widget start-->
          <div class="pw-skin-portal widget_version_2">
              <form id="portalLoginForm" name="portalLoginForm" action="#" method="post">
                  <input type="hidden" name="loginType" value="Tenant" id="loginType"/>
                  <div class="yui-b" style="text-align: center">
                      <div class="yui-gd">
                          <div class="yui-u first">
                              <div id="loginDiv" style="">
                                  <h3>Secure Login</h3>
                                  <br />
                                  <th>Email Address</th>
                                  <input type="text" name="username" value="" id="username" />
                                  <th>Password</th>
                                  <input type="password" name="password" id="password" />
                                  <div class="primaryButtons">
                                      <input type="button" id="loginForm_0" value="Sign In" class="button" onclick="portalLogin();"/>
                                  </div>
                                  <p style="padding-top: 1em"><a href="javascript:portalForgotPassword('tenants.html');" style="text-decoration: underline; color: #000000; font-weight: bold ">Forgot your password?</a></p>
                                  <p style="padding-top: 1em"><strong>Don't have an Account?</strong> <br />Signing up is easy, fast and secure.</p>
                                  <div class="primaryButtons">
                                      <a href="javascript:portalSignUp('tenants.html');" class="button"><span>Sign up</span></a>
                                  </div>
                              </div>
                              <div  class="errorBox" id="cookieError" style="width:100%;display:none;border:2px solid aliceblue;padding:3px;margin:0;height:380px ">
                                  <h3 style="font-size:16px">Cookies not enabled</h3>
                                  <ul style="margin:15px">
                                      <li>In order to login and use the Tenant Portal, you must have cookies enabled on your browser.</li><br/>
                                      <li> Please access your browser's internet options, and enable cookies from the Privacy area, then log into your account.</li>
                                  </ul>
                                  <a href="http://www.google.com/cookies.html" target="_blank">How to enable cookies?</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </form>
          </div>
          <!--Widget end-->
            </div><!-- /.copySectionCopy -->
        </section><!-- /copySection -->
  {% endif%}
{% endblock %}
